:root {
  --color-background-main: #dee1e2;
  --color-text-button: #ffffff;
  --color-text-primaria: #6C87AE;
  --color-text-primaria-select: #eb268f;
  --color-text-secundaria: #031432;
  --color-text-tercaria: #00BFA5;
  --font-primaria: "Sora", sans-serif;
  --gradiente-buttom: linear-gradient(51deg, rgb(235, 38, 143) 0%, rgba(111,58,250,1) 150%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
