.banner {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 205px;
}

.banner__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner__container__text {
    color: var(--color-text-primaria);
    font-size: 16px;
    line-height: 20px;
    width: 65%;
}

.banner__container__titulo {
    color: var(--color-text-secundaria);
    font-size: 48px;
    font-weight: bold;
    line-height: 45px;
    width: 70%;
}

.banner__container___link {
    align-items: center;
    background: var(--gradiente-buttom);
    border-radius: 100px;
    color: var(--color-text-button);
    display: flex;
    font-size: 18px;
    gap: 8px;
    padding: 16px 28px;
    text-decoration: none;

    display: inline-flex;
    margin-top: 55px;
    width: 156px;
}

.banner__ilustracao {
    height: 60%;
    width: 50%;
}

.banner__container__social__icon {
    cursor: pointer;
}

.banner__container__social__icon:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    .banner__container__text {
        color: var(--color-text-primaria);
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }

    .banner__container__titulo {
        font-size: 28px;
        line-height: 35px;
        width: 90%;
    }

    .banner__ilustracao {
        height: 60%;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner__container {
        align-items: center;
        text-align: center;
    }

    .banner__container__text {
        width: 90%;
    }

    .banner__container__titulo {
        font-size: 38px;
        line-height: 35px;
        width: 100%;
    }

    .banner__container___link {
        margin-top: 25px;
    }

    .banner__ilustracao {
        height: 60%;
        width: 65%;
    }
}

@media (max-width: 600px) {
    .banner {
        margin-top: 90px;
    }

    .banner__container__titulo {
        font-size: 28px;
        line-height: 30px;
    }

    .banner__ilustracao {
        height: 60%;
        width: 80%;
    }
}
